@{
    ViewData["Title"] = "Home Page";
}

@model bankAccounts.Models.RegisterUserView
<h1>Register</h1>
<form asp-action="Register" method="POST">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName"/>
    <span asp-validation-for="FirstName"></span><br>

    <label asp-for="LastName"></label>
    <input asp-for="LastName"/>
    <span asp-validation-for="LastName"></span><br>

    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <span asp-validation-for="Email"></span><span>@TempData["unique"]</span><br>
      

    <label asp-for="Password"></label>
    <input asp-for="Password"/> 
    <span asp-validation-for="Password"></span><br>

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword"/>        
    <span asp-validation-for="ConfirmPassword"></span><br>
    <input type="submit" value="Register">
</form>

<h1>Log in</h1>
<form asp-action="Login" method="POST">
    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <span asp-validation-for="Email"></span><br>
    <span>@TempData["emailerror"]</span><br>

    <label asp-for="Password"></label>
    <input asp-for="Password"/> 
    <span asp-validation-for="Password"></span><br>
    <span>@TempData["pwerror"]</span><br>  
    <input type="submit" value="Log in">
</form>
